<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="D:\temp\Logs\internal-nlog4txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="database" xsi:type="Database">
      <connectionString>Data Source=host.docker.internal,1433;Initial Catalog=shelf_db;User ID=sa;Password=Test@123;TrustServerCertificate=true</connectionString>
      <commandText>
        INSERT INTO dbo.TB_LOGS (
        [Timestamp], Level, Message, Exception
        ) VALUES (
        @logged, @level, @message, @exception
        );
      </commandText>
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

  </targets>
  <rules>
    <logger name="DatabaseLogger" minlevel="Info" writeTo="database" />
  </rules>
</nlog>